@import "tailwindcss" prefix(tw);
@theme {
    --color-primary: #4361ee;
    --color-primary-light: #4895ef;
    --color-primary-dark: #3a0ca3;
    --color-secondary: #4cc9f0;
    --color-accent: #f72585;
}